%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%%
%%% This file is part of farmer released under the MIT license. 
%%% See the NOTICE for more information.

{deps, [
        {dnssd, ".*", {git, "git://refuge.io/dnssd_erlang.git", 
                      {tag, "v0.3"}}}
]}.
